.content {
    &__img {
        position: relative;

        &--main{
            width: 100%;
        }
    }

    &__products {
        display: flex;
        align-items: center;
        height: 160px;
        overflow-x: scroll;
    }
}