.tooltip--description::before {
    content: '';
    position: absolute;
    top: -8px;
    left: 34px;
    width: 12px;
    height: 8px;
    background-image: url('../../../Common/img/toggle_before.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.tooltip--description {
    position: relative;
    left: -20px;
    top: 5px;
    z-index: 3;
    width: 220px;
    height: 86px;
    background-color: #fdfbfa;
    padding: 8px 0 8px 8px;
    border-radius: 8px;
    display: flex;
    align-items: center;

    & img {
        width: 70px;
        height: 70px;
        border-radius: 8px;
        margin: 0 12px 0 0;
    }

    &__detail {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 5px 0;
        height: 100%;
        width: 112px;
        font-size: 14px;
    
        
        &--name {
            height: 40px;
        }
            &--salesRate {
                color: red;
            font-size: 16px;
            font-weight: 700;
            margin: 0 4px 0 0;
            height: 20px;
        }
        &--estimate {
            font-size: 11px;
            margin: 0 4px 0 0;
            height: 20px;
        }
        &--price {
            font-weight: 700;
            font-size: 16px;
        }
       img {
           width: 20px;
           height: 20px;
           position: absolute;
           right: -26px;
           bottom: 4px;
       }
    }
}
